---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const baseUrl = import.meta.env.PUBLIC_SITE; // or import.meta.env.SITE if configured
const isValidUrl = typeof frontmatter.image?.url === "string";

const imageUrl = isValidUrl
  ? baseUrl + frontmatter.image.url
  : baseUrl + "/og-image.png"; // add a slash here

---

<BaseLayout 
  pageTitle={frontmatter.title} 
  pageDescription={frontmatter.description}
  tags={frontmatter.tags}
	author={frontmatter.author}
	image={imageUrl} // fallback image
>
    <main class="max-w-3xl mx-auto px-4 py-10 space-y-8 bg-base-100">
      <div class="breadcrumbs text-sm">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/blog">blog</a></li>
          <li>{frontmatter.title}</li>
        </ul>
      </div>

        <!-- Blog Title -->
        <h1 class="text-3xl md:text-4xl font-bold font-header text-base-content">
          {frontmatter.title}
        </h1>
      
        <!-- Author & Date -->
        <div class="text-sm text-base-content/60 flex items-center justify-between gap-4">
          {frontmatter.author && (
            <span>✍️ {frontmatter.author}</span>
          )}
          {frontmatter.pubDate && (
            <span>📅 {new Date(frontmatter.pubDate).toLocaleDateString(undefined, {
              year: "numeric", month: "short", day: "numeric"
            })}</span>
          )}
        </div>
      
        
      
        <!-- Markdown Content -->
        <article class="prose max-w-none prose-base prose-headings:font-semibold prose-a:text-primary">
          <slot />
        </article>

        <!-- Tags (optional) -->
        {frontmatter.tags && (
          <div class="pt-2 flex flex-wrap gap-2">
            {frontmatter.tags.map((tag: string) => (
              <a href={`/tags/${tag}`} class="badge badge-soft badge-sm">{tag}</a>
            ))}
          </div>
        )}
      </main>      

      
</BaseLayout>
